*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(lago.jpg);
    background-repeat: no-repeat;

}
form h1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: monospace;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    max-width: 350px;
    height: 40vh;
    margin-top: 100px;
    border: 1px solid rgba(255, 255, 255,.2);
    border-radius: 20px;
}
.input-container{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  
}
.input-container input{
    background: transparent;
    border: 1px solid rgba(255, 255, 255,.2);
    margin-bottom: 10px;
   color: white;
    padding: 7px;
    border-radius: 10px;
}
input[type="text"]::placeholder {
    color: white;
   
  }
  input[type="password"]::placeholder {
    color: white;
  }
 button{
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background-color: slateblue;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: monospace;
}
button:hover{
    cursor: pointer;
    background-color: rgb(123, 110, 209);
}
.registrate{
    display: flex;
    height: 100%;
    font-family: monospace;
    
    
    justify-content: center;
}

.registrate p{
    align-self: end;
    margin-bottom: 20px;
    color: white;
    
}
p a{
    font-weight: 600;
    text-decoration: none;
    margin-left: 5px;
    color: white;
}
p a:hover{
text-decoration: underline;
color: rgb(153, 137, 255);
}

.recuerdame{
    display: flex;
    color: white;
    font-size: 14px;
}
.recuerdame p{
    margin-left: 10px;
   
}
.olvidaste a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.medio{
    display: flex;
    justify-content: space-around;
}
.olvidaste a:hover{
    text-decoration: underline;
    color: rgb(153, 137, 255);
}
span{
    color: white;
    position: absolute;
    right: 40px;
    margin-top: 4px;
    
}